body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e3bca6;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('vmü2.jpg') center/cover fixed; 
    filter: blur(5px);
    z-index: -1;
}

.topnav {
    background-color: #ffffff;
    display: flex;
    justify-content: left;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav :first-child {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    margin-left: 10%;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #e3bca6;
    color: black;
  }
  
  .topnav a.active {
    background-color: #e3bca6;
    color: white;
  }

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
}

#confirmation-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #e3bca6
}

p {
    margin-top: 20px;
    font-size: 18px;
}

#back-to-home {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e3bca6;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#back-to-home:hover {
    background-color: #e0b69e
}
