.bg-image {
    background-image: url("placeholder.jpg");
    opacity: 80%;
    filter: blur(10px);
    margin-top: 12px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }


.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}


.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.price:hover {
  box-shadow: 10px 12px 12px 10px rgba(0,0,0,0.2)
}


.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}


.price li {
  border-bottom: 1px solid #ffffff;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #f4e0d7;
}


.price .white {
  background-color: #ffffff;
  font-size: 20px;
}


.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}


.columns {
  width: 25%;
  padding-bottom: 200px;
  padding-right: 20px;
  margin-top: 200px;
  margin-right: 0px;
}


.columnParent {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
    margin-top: 4000px;
  }
}

