body, html {
    height: 100%;
    font-family: Arial;
    background: #e3bca6;
  }
  

 * {
    box-sizing: border-box;
  }
  

.bg-image {
    background-image: url("placeholder.jpg");
    filter: blur(50%); opacity: 80%;
    margin-top: 12px;
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100.5%;
  }


.sticky + .topnav {
    padding-top: 102px;
  }


.topnav {
    background-color: #ffffff;
    display: flex;
    justify-content: left;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 10;
  }
  

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
.topnav :first-child {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    margin-left: 10%;
    text-decoration: none;
    font-size: 17px;
  }
  

.topnav a:hover {
    background-color: #e3bca6;
    color: black;
  }
  
  
.topnav a.active {
    background-color: #e3bca6;
    color: rgb(0, 0, 0);
  }


.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}


.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.price:hover {
  box-shadow: 10px 12px 12px 10px rgba(0,0,0,0.2)
}


.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}


.price li {
  border-bottom: 1px solid #ffffff;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #f4e0d7;
}


.price .white {
  background-color: #ffffff;
  font-size: 20px;
}


.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}


.columns {
  width: 25%;
  padding-bottom: 200px;
  padding-right: 20px;
  margin-top: 200px;
  margin-right: 0px;
}


.columnParent {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
    margin-top: 4000px;
  }
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  margin-left: -10px;
  margin-right: -10px;
}
